In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("HR_comma_sep.csv")
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
df.shape

(14999, 10)

In [4]:
df.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [5]:
df['satisfaction_level'].describe()

count    14999.000000
mean         0.612834
std          0.248631
min          0.090000
25%          0.440000
50%          0.640000
75%          0.820000
max          1.000000
Name: satisfaction_level, dtype: float64

In [6]:
def satisfaction_convertor(val):
    if val<=0.40:
        return 1
    elif val<=0.80:
        return 2
    else:
        return 3

In [7]:
df['modified_satisfaction'] = df['satisfaction_level'].apply(satisfaction_convertor)

In [8]:
df['last_evaluation'].describe()

count    14999.000000
mean         0.716102
std          0.171169
min          0.360000
25%          0.560000
50%          0.720000
75%          0.870000
max          1.000000
Name: last_evaluation, dtype: float64

In [9]:
def last_evaluation_convertor(val):
    if val<=0.50:
        return 1
    elif val<=0.80:
        return 2
    else:
        return 3

In [10]:
df['modified_last_evaulation'] = df['last_evaluation'].apply(last_evaluation_convertor)

In [11]:
df['average_montly_hours'].describe()

count    14999.000000
mean       201.050337
std         49.943099
min         96.000000
25%        156.000000
50%        200.000000
75%        245.000000
max        310.000000
Name: average_montly_hours, dtype: float64

In [12]:
def average_montly_hours_convertor(val):
    if val<=168:
        return 1
    elif val<=240:
        return 2
    else:
        return 3

In [13]:
df['modified_average_montly_hours'] = df['average_montly_hours'].apply(average_montly_hours_convertor)

In [14]:
df['salary'].unique()

array(['low', 'medium', 'high'], dtype=object)

In [15]:
def salary_convertor(val):
    if val=='low':
        return 1
    elif val<='medium':
        return 2
    else:
        return 3

In [16]:
df['modified_salary'] = df['salary'].apply(salary_convertor)

In [17]:
df['Department'].unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [18]:
df['Department'] = df['Department'].map({'sales':0,'accounting':1,'hr':2,'technical':3,'support':4,'management':5,'IT':6,'product_mng':7,'marketing':8,'RandD':9})

In [19]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary,modified_satisfaction,modified_last_evaulation,modified_average_montly_hours,modified_salary
0,0.38,0.53,2,157,3,0,1,0,0,low,1,2,1,1
1,0.80,0.86,5,262,6,0,1,0,0,medium,2,3,3,2
2,0.11,0.88,7,272,4,0,1,0,0,medium,1,3,3,2
3,0.72,0.87,5,223,5,0,1,0,0,low,2,3,2,1
4,0.37,0.52,2,159,3,0,1,0,0,low,1,2,1,1

In [20]:
df.drop(['satisfaction_level','last_evaluation','average_montly_hours','salary'],axis = 1,inplace = True)

In [21]:
df.head()

,number_project,time_spend_company,Work_accident,left,promotion_last_5years,Department,modified_satisfaction,modified_last_evaulation,modified_average_montly_hours,modified_salary
0,2,3,0,1,0,0,1,2,1,1
1,5,6,0,1,0,0,2,3,3,2
2,7,4,0,1,0,0,1,3,3,2
3,5,5,0,1,0,0,2,3,2,1
4,2,3,0,1,0,0,1,2,1,1

In [22]:
y = df['left']
df.drop('left',axis = 1,inplace=True)
X = df

In [43]:
X_train, X_val, Y_train, Y_val = train_test_split(X, y, test_size=0.15, random_state=28)

In [44]:
# Creating adaboost classifier model
adb = AdaBoostClassifier(n_estimators=100)
adb_model = adb.fit(X_train,Y_train)

In [45]:
print("The accuracy of the model on validation set is", adb_model.score(X_val,Y_val))

The accuracy of the model on validation set is 0.8955555555555555